/* =======================================================
* Website Name:Dashboard Showroom 1.0 (e-acez 4.0)
* Website URL: www.e-acez.com/
* Author: Lagbalu Joseph (Jos33y)
======================================================== */

html,
body {
    height: 100%;
    background: rgb(248, 248, 253);
    overflow-x: hidden;
}

/** Nav Styles **/
nav {
    padding-top: 5px;
    background-color: #000000d3;
    color: #fff;
}

.img-fluid {
    border-radius: 30px;
    height: 50px;
    width: 50px;
    margin-left: 10px;
}

.nav-title {
    font-size: 18px;
    font-weight: 600;
    margin-left: 5%;
    color: #fff;

}

.navbar a{
    text-decoration: none;
}

.nav-name {
    font-size: 18px;
    font-weight: 600;
    margin-right: 5%;
    text-transform: capitalize;
}

/** Styles for Dashboard **/

.dash-title {
    text-align: center;
    margin-top: 3%;
    color: #000000d3;
    font-size: 22px;
    font-weight: 700;
    letter-spacing: 1px;
}

.boards {
    margin: 5%;
}

.boards #col {
    margin-bottom: 5%;
}

.boards .fas,
.far {
    color: #fff;
    font-size: 80px;
}


.boards .card-title {

    color: #fff;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 1px;
}

.boards .card-footer {
    border-top: 2px solid #fff;
}


.boards a {
    text-decoration: none;
}


/** footer styles */

footer {
    background-color: #000000d3;
    color: #fff;
}

.copyright {
    padding: 20px;
    font-size: 12px;
    font-weight: 550px;
}

footer .orange {
    color: #ff5500;
}


/* Change Password Styles */

.back {
   margin-left: 20%;
    margin-top: 25%;
    color: gray;
    font-size: 16px;
    font-weight: 550;
}
.change-password .btn{
    margin-top: 30%;
    font-size: 14px;
    color: #fff;
    font-weight: 550;
    border-radius: 20px;
    text-transform: uppercase;

}
/** change password input styles **/
.change-password input{
    border:  solid #000000d3;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-radius: 0;
    background-color: rgb(248, 248, 253);
    margin-top: 25%;
    font-size: 20px;
}
.change-password input::placeholder{
    color: gray;
}




/** Responsive styling **/

/* Medium devices (tablets, less than 992px) */

@media (max-width: 991.98px) {
    .product .name {
        font-size: 16px;
    }

    .product .price {
        font-size: 18px;
    }

    .product .btn {
        font-size: 14px;
    }
}

/* Small devices (landscape phones, less than 768px) */

@media (max-width: 767.98px) {

    .boards .fas,
    .far {
        font-size: 70px;
    }


    .boards .card-title {

        font-size: 18px;
    }

    .copyright {

        font-size: 11px;
    }
    /* change password style */
    .change-password input{
     
        margin-top: 25%;
        font-size: 18px;
    }

}

/* Extra small devices (portrait phones, less than 576px) */

@media (max-width: 575.95px) {
    .nav-title {
        font-size: 15px;
    }

    .nav-name {
        font-size: 15px;

    }

    .boards .fas,
    .far {
        font-size: 60px;
    }


    .boards .card-title {

        font-size: 16px;
    }

    .copyright {

        font-size: 9px;
    }

    /** change password style **/
    .back {

        font-size: 14px;

    }
    .change-password .btn{
       
        font-size: 12px;
    }
    .change-password input{
     
        margin-top: 25%;
        font-size: 16px;
    }

}


/* Extra small devices (portrait phones, less than 345px) */
@media (max-width: 340px) {
    .nav-title {
        font-size: 13px;
    }

    .nav-name {
        font-size: 13px;
        text-align: right;

    }

    .dash-title {

        font-size: 16px;

    }
     /** change password style **/
     .back {

        font-size: 12px;

    }
    .change-password input{
     
        margin-top: 25%;
        font-size: 14px;
    }
}