/* =======================================================
* Website Name:Dashboard Showroom 1.0 (e-acez 4.0)
* Website URL: www.e-acez.com/
* Author: Lagbalu Joseph (Jos33y)
======================================================== */


body {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    background: rgb(248, 248, 253);
    overflow-x: hidden;
}

/** Nav Styles **/
nav {
    padding-top: 3px;
    background-color: #000000d3;
    color: #fff;
}

.img-fluid {
    border-radius: 30px;
    height: 50px;
    width: 50px;
    margin-left: 10px;
}

.nav-title {
    font-size: 18px;
    font-weight: 600;
    margin-left: 5%;
    color: #fff;

}

.navbar a {
    text-decoration: none;
}

.nav-name {
    font-size: 18px;
    font-weight: 600;
    margin-right: 5%;
    text-transform: capitalize;
}

/** Styles for Dashboard **/

.dash-title {

    text-align: center;
    color: #000000d3;
    font-size: 22px;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.boards {
    margin-top: 5%;
}

.pages {
    margin-top: 3%
}

ul.pagination li {
    border: 2px solid #ff5500;

}

.pagination li {
    font-size: 16px;
    font-weight: 550;
    padding: 10px;

}

.prod-no {
    border: 1px solid #fff;
    background-color: #fff;
    color: #ff5500;
    font-size: 12px;
    padding: 5px;
    border-radius: 30px;
    float: left;
}

.developer {
    margin: 5%;
}

.developer .bottom {
    margin-bottom: 20%;
}

.margin {
    margin-top: 22%;
}

.boards #col {
    margin-bottom: 5%;
}

.boards .fas {
    color: #fff;
    font-size: 80px;
}

.boards .fab {
    color: rgb(80, 79, 79);
    font-size: 80px;
}

.boards .far {
    color: #fff;
    font-size: 80px;
}

.boards .card-title {

    color: #fff;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 1px;
}

.boards .card-footer {
    border-top: 2px solid #fff;
}


.boards a {
    text-decoration: none;
}

#prodDisplay {
    text-align: center;
    display: block;
    width: 60%;
    margin-left: 60px;
    border-radius: 5px;
}


/** View Products **/
.card.box {
    -webkit-box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.75);

}

.products {
    margin-top: 50px;
}

.products .col-6 {
    margin-bottom: 50px;
}

.prod-image {
    border-radius: 15px;
}

.edit {
    color: blue;
}

.delete {
    color: red;
    float: right;
}

.prod-name {
    font-size: 13px;
    color: #242323d3;
    font-weight: 600;
}

.prod-price {
    font-size: 15px;
    color: #242323d3;
    font-weight: 700;
}

/** footer styles */

footer {
    padding: 3px;
    background-color: #000000d3;
    color: #fff;
}

.copyright {

    font-size: 12px;
    font-weight: 550px;
}

footer .orange {
    color: #ff5500;
}



/* Change Password Styles */

.back {
    margin-top: 5%;
    color: gray;
    font-size: 16px;
    font-weight: 550;
}


.profile .back {
    margin-top: 3%;
    color: gray;
    font-size: 16px;
    font-weight: 550;
}

.profile .btn {
    margin-top: 1%;
    font-size: 14px;
    color: #fff;
    font-weight: 550;
    border-radius: 20px;
    text-transform: uppercase;
}

.form .btn {
    font-size: 14px;
    color: #fff;
    font-weight: 550;
    border-radius: 20px;
    text-transform: uppercase;
}

/** box shadow styles **/
.btn {
    -webkit-box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.75);

}

/** change password input styles **/

.form select {
    border: solid #000000d3;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-radius: 0;
    background-color: rgb(248, 248, 253);
    margin-top: 2%;
}

.form input {
    border: solid #000000d3;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-radius: 0;
    background-color: rgb(248, 248, 253);
    margin-top: 2%;
    font-size: 18px;
    width: 100%;
}

.profile input {
    border: solid #000000d3;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-radius: 0;
    background-color: rgb(248, 248, 253);
    margin-top: 2%;
    font-size: 15px;
    width: 100%;
}

.form input::placeholder {
    color: gray;
}

.profile input::placeholder {
    color: gray;
}

/** Developer Style **/
.contact .btn {
    text-align: center;
    margin-top: 5%;
    font-size: 18px;
    color: #fff;
    font-weight: 550;
    border-radius: 20px;
    padding: 10px;
    text-transform: uppercase;

    /** box shadow styles **/

    -webkit-box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.75);

}






/** Responsive styling **/

/* Medium devices (tablets, less than 992px) */

@media (max-width: 991.98px) {}

/* Small devices (landscape phones, less than 768px) */

@media (max-width: 767.98px) {}

/* Extra small devices (portrait phones, less than 576px) */

@media (max-width: 575.95px) {
    .nav-title {
        font-size: 12px;
        margin-left: 2%;
    }

    .nav-name {
        font-size: 12px;
    }

    .dash-title {
        font-size: 14px;
    }
    .boards .card-title {
        font-size: 14px;
        font-weight: 700;
    }

    .boards .fas {

        font-size: 60px;
    }

    .boards .fab {

        font-size: 60px;
    }

    .boards .far {

        font-size: 60px;
    }

}

/* Extra small devices (portrait phones, less than 345px) */
@media (max-width: 375px) {
    .nav-title {
        font-size: 12px;
        margin-left: 2%;
    }

    .nav-name {
        font-size: 12px;
    }

    .dash-title {
        font-size: 13px;
    }


    .edit {
        font-size: 11px;
    }

    .delete {
        font-size: 11px;
    }

    .prod-name {
        font-size: 12px;
    }

    .prod-price {
        font-size: 13px;
    }

    .boards .card-title {
        font-size: 13px;
        font-weight: 700;
    }

    .boards .fas {

        font-size: 50px;
    }

    .boards .fab {

        font-size: 50px;
    }

    .boards .far {

        font-size: 50px;
    }

    .profile .back {
        font-size: 12px;
    }

    .profile .btn {
        font-size: 13px;

    }

    .form .btn {
        font-size: 13px;

    }

    .form input {
        font-size: 15px;

    }

    .profile input {

        font-size: 13px;

    }


    /** Developer Style **/
    .contact .btn {
        font-size: 15px;
    }

    .pagination li {
        font-size: 12px;
        padding: 5px;

    }
}

/** SOCIAL LINK STYLES **/

.social-link {
    text-align: center;
    margin-top: 10%;
    font-size: 100px;

}

.social-link a {
    text-decoration: none;
}

.social-link .fa.fa-facebook {
    color: #2B56AB;
    margin-left: 3%;
}

.social-link .fa.fa-twitter {

    color: #00AAFF;
    margin: 3%;
}

.social-link .fa.fa-pinterest-square {
    color: #E81414;
    margin: 3%;
}

.social-link .fa.fa-whatsapp {
    color: #24CE24;
    margin: 3%;
}

.social-link .fa.fa-reddit-square {
    color: #FF2A00;
    margin: 3%;
}

.social-link .fa.fa-linkedin-square {
    color: #156AEA;
    margin: 3%;
}

@media (max-width: 768px) {
    .social-link {
        font-size: 50px;

    }

}