.main-section{
	border:1px solid #000;
	width: 100%;
}



.chat-left-img,.chat-left-detail {
	float: left;
}
.left-chat {
	overflow-y: scroll;
}
.left-chat ul{
	overflow:hidden;
	padding: 0px;
}
.left-chat ul li{
	 list-style:none;
	 width:100%;
	 float: left;
	 margin: 10px 0px 8px 15px
}
.chat-left-img img{
	 width: 50px;
	 height: 50px;
	 border-radius: 50%;
	 text-align: left;
	 float: fixed;
	 border: 3px solid #6B6F79;
}

.chat-left-detail{
	  margin-right: 10px;
	  
}
.chat-left-detail p{
	margin: 0px;
	color: #fff;
	padding: 7px 0px 0px;
	
}
.chat-left-detail span{
	color: #B8BAC3;
}
.chat-left-detail span i{
	color: #86BB71;
	font-size: 10px;
}
.chat-left-detail .orange{
	 color: #E38968;
}

.right-header{
 border-bottom: 2px solid #000;
 margin: 0px;
 padding: 0px;
}

.right-header-img img{
	width: 50px;
	height: 50px;
	float: left;
	border-radius: 50%;
	border: 3px solid rgb(60, 219, 20);
	margin-right: 10px;
	
}

.right-header-detail span i{
	color: rgb(60, 219, 20);
	font-size: 13px;
}
.right-header{
	 padding: 20px;
	 height: 90px;
	 background-color: #5A5A5A;
}
.right-header-detail p{
	margin : 0px;
	color: #fff;
	font-weight: bold;
	padding-top: 5px;
}
.right-header-detail span{
	color: #f2f1f6;
	font-size: 13px;
	
}
.rightside-left-chat,.rightside-right-chat {	
	float: left;
	width:80%;
	position: relative; 
}
.rightside-right-chat{
	float: right;
	margin-right: 35px;
	
}
.right-header-contentChat{
	overflow-y: scroll;
	background-color: #FFFFFF;
	position: relative;
}
.right-header-contentChat ul li{
	 list-style: none;
	 margin-top: 20px;
}
.right-header-contentChat .rightside-left-chat p,.right-header-contentChat .rightside-right-chat p{
	background-color: #2A2AFF;
	padding: 15px;
	border-radius:8px;
	color: #ffffff;
}
.right-header-contentChat .rightside-right-chat p{
	background-color: #7FAAFF;
	
}
.right-chat-textbox{
	padding: 15px 30px;
	width: 100%;
	background-color: #5A5A5A;
}
.right-chat-textbox input{
	 width: 90%;
	 height: 40px;
	 border: 2px solid #3D85CA;
	 border-radius:5px;
	 padding: 0px 10px;
	 
}

.rightside-left-chat span i,.rightside-right-chat span i{
 color:#2A2AFF;
font-size: 12px; 
}
.rightside-right-chat span i{
	color: #94C2ED;
}
.rightside-right-chat span{
  float: right;
}	
.rightside-right-chat span small,.rightside-left-chat span small{
	color: #333333;
}
.rightside-left-chat:before{
	content: " ";
	position: absolute;
	top: 14px;
	left: 15px;
	bottom: 150px;
	border: 15px solid transparent;
	border-bottom-color: #2A2AFF;
	z-index: 1;
}
.rightside-right-chat:before{
		content:" ";
		position: absolute;
		top: 14px;
		right: 100px;
		bottom: 150px;
		border: 15px solid transparent;
		border-bottom-color: #7FAAFF;
		
}
@media only screen and (max-width:320px){
	
	.main-section{
		display: none;

	}
}
