@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Roboto&display=swap');

body {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    font-family: 'Lato', sans-serif;
    color: #222;
    background-color: #f2f1f6;
    background-image: url(../images/backgroud-svg.svg);
    overflow-x: hidden;
}

/** Navbar styles  **/
.navbar {
    background-color: #17192e;
    box-shadow: 1px 1px 10px #888;
}

.nav-link {
    font-size: 13px;
    font-weight: 700;
    margin-left: 50px;
    color: white !important;
    font-family: 'Lato', sans-serif;
    text-transform: uppercase;
}

.nav-link:hover {
    color: #0055FF !important;
}

.active .nav-link {
    color: #FF5500 !important;
    text-decoration: none;
}

.logo {
    width: 40px;
    height: 40px;
}

.logo-head {
    margin-left: 3px;
    font-size: 19px;
    color: white;
    font-weight: 700;
    font-family: 'Lato', sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;

}

.login .btn-primary {
    color: #ffff;
    border-radius: 15px;
    font-weight: 700;
    font-size: 13px;
    letter-spacing: 1px;
    color: #fff;
    padding-left: 8px;
    padding-right: 8px;
    margin-right: 10px;

}

.login .btn-sign-up {
    color: #ffff;
    background-color: #FF5500;
    border-radius: 15px;
    font-weight: 700;
    font-size: 13px;
    letter-spacing: 1px;
    color: #fff;
    padding-left: 8px;
    padding-right: 8px;
    margin-right: 200px;
}



/** hero styles **/
.land-home {
    background-color: #0b168f6b;
    width: 100vw;
    background-size: cover;
}

.hero-text {
    margin-top: 25%;
}

.hero-text h1 {
    font-size: 70px;
    font-weight: 700;

    text-transform: uppercase;
}

.hero-text p {
    font-size: 23px;
    font-weight: 400;
    color: #fff;
    text-transform: initial;

}

.hero-text .btn.btn-hero {
    margin-top: 50px;
    font-size: 20px;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 1px;
    background-color: #FF5500;
    border-radius: 20px;
    padding-left: 15px;
    padding-right: 15px;
}

.hero-svg .img-fluid {
    margin-top: 60px;
    margin-bottom: 20px;
    margin-left: 100px;
    width: 100%;
    height: 100%;
}

/** Sub hero styles **/
.sub-hero {
    margin-top: 5%;
    margin-left: 50px;
    margin-right: 30px;
    margin-bottom: 8%;
}

.sub-hero h1 {
    margin-bottom: 30px;
}

.sub-hero .number {
    font-size: 30;
    color: #FF5500;
    border: 1px solid #0b168f;
    border-radius: 50%;
    padding: 10px;
    padding-left: 18px;
    padding-right: 18px;
}

.sub-hero li {
    font-weight: 550;
    color: #0b168f;
}

.sub-hero .h1 {
    font-size: 30px;
    font-weight: 700;
    text-transform: initial;
    letter-spacing: 1px;
}

.sub-hero p {
    font-size: 17px;
    letter-spacing: 0.5px;
}

.sub-hero p .example {
    color: #FF5500;
    font-weight: 550;
}

.sub-hero p .example-2 {
    color: #0b168f;
    font-weight: 550;
}

.sub-hero svg {
    width: 100%;
    height: 100%;
}

.page-container {
    margin-left: 10px;
    margin-right: 10px;
}

.register {
    border: 2px solid #f77f44;
    padding: 20px;
    border-radius: 10px;
    background-color: #faf3f0;
}

.check_data {
    font-size: 12px;
    font-weight: 600;
    margin-left: 15px;
    letter-spacing: 1px;
}

.table {
    line-height: 10px;
}

.register label {

    color: rgb(61, 60, 60);
    font-weight: 550;
    letter-spacing: 1px;
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
}

.register input::placeholder {
    color: rgb(155, 155, 182);
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
}

.register #plan {
    color: rgb(155, 155, 182);
    font-size: 14px;
}

.register select {
    border: 1px solid #f0c1aa;
    font-size: 12px;
    border-radius: 20px;
}

.register input {
    border: 1px solid #f0c1aa;
    border-radius: 20px;
}

.register .btn {
    margin-top: 10px;
    font-size: 15px;
    font-weight: 550;
    letter-spacing: 1px;
    border: 0px solid green;
    border-radius: 20px;
    text-transform: uppercase;
    -webkit-box-shadow: 0px 0px 3px 0.5px rgba(23, 25, 46, 1);
    -moz-box-shadow: 0px 0px 3px 0.5px rgba(23, 25, 46, 1);
    box-shadow: 0px 0px 3px 0.5px rgba(23, 25, 46, 1);
}

.register-svg svg {
    width: 100%;
    height: 100%;
}

/** footer styles **/
footer {
    background: #17192e;
    padding: 10px 0;
    color: rgb(158, 157, 157);
}

.footer-logo {
    width: 30px;
    height: 30px;
}

.footer-head {
    margin-left: 3px;
    font-size: 16px;
    color: white;
    font-weight: 600;
    font-family: 'PT Serif', serif;
    text-transform: uppercase;
    letter-spacing: 1px;

}

footer ul {
    list-style: none;
    padding-left: 0px;
    font-size: 13px;
}

footer a {
    color: rgb(158, 157, 157);
    padding: 0;
    text-decoration: none;
}

footer a:hover {
    color: #5133d4;
}

footer h5 {
    padding-top: 5vh;
    font-size: 15px;
    font-weight: 600;
    color: #d5d5d5;
    font-family: 'Noto Sans KR', sans-serif;
}

footer .table .fas {
    color: rgb(158, 157, 157);
    font-size: 16px;
}

footer td {
    font-size: 13px;
}

footer .table {
    color: rgb(158, 157, 157);
}

hr.line {
    border: 1px solid #888;
}

footer h6 {

    font-size: 12px;

}







/** SIGN IN STYLES **/
.sign-in-head {
    margin-top: 2%;
    color: #020b6b;
    text-align: center;
    font-size: 30px;
    text-transform: uppercase;
    font-family: 'Bangers', cursive;
    letter-spacing: 5px;
}

.reg-line {
    border: 1px solid #020b6b;
    ;
}

.logo-sign {
    margin-top: 5%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50px;
    height: 50px;
}

.sign-in {
    margin-top: 20%;
    margin-left: 5%;
    margin-right: 5%;
    border: 2px solid #0b168f;
    padding: 30px;
    border-radius: 10px;
}

.sign-in label {
    margin-left: 10px;
    color: #17192e;
    font-weight: 550;
    letter-spacing: 1px;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
}

.sign-in input::placeholder {
    color: rgb(155, 155, 182);
    font-size: 17px;
    font-family: 'Roboto', sans-serif;
}

.sign-in input {
    border: 1px solid #0b168f;
    border-radius: 20px;
    margin-bottom: 20px;

}

.sign-in .btn {
    font-size: 15px;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
    background-color: #020b6b;
    border: 0px solid #010424;
    border-radius: 20px;
    -webkit-box-shadow: 0px 0px 3px 0.5px rgba(23, 25, 46, 1);
    -moz-box-shadow: 0px 0px 3px 0.5px rgba(23, 25, 46, 1);
    box-shadow: 0px 0px 3px 0.5px rgba(23, 25, 46, 1);
}

.sign-in-svg svg {
    width: 100%;
    height: 100%;
}

.footer {
    margin-top: 20%;
    text-align: center;
    font-size: 12px;
    color: #0b168f;
}

@media (max-width: 767.98px) {
    .sign-in-head {
        font-size: 20px;
    }

    .sign-in label {

        font-size: 15px;
    }

    .sign-in input::placeholder {
        font-size: 14px;

    }

    .sign-in .btn {
        font-size: 14px;
    }
}




/** Media Queries **/
@media (max-width: 992px) {

    .nav-link {
        font-size: 12px;

    }

    .login .btn-primary {

        font-size: 12px;
        margin-right: 10px;
    }

    .login .btn-sign-up {

        font-size: 12px;
        margin-right: 10px;
    }

    .logo {
        width: 35px;
        height: 35px;
    }

    .logo-head {
        font-size: 18px;
    }

    .hero-text {
        margin-top: 20%;
        margin-left: 10px;
    }

    .hero-text h1 {
        font-size: 50px;
    }

    .hero-text p {
        font-size: 16px;

    }

    .hero-text .btn.btn-hero {
        margin-top: 20px;
        font-size: 15px;

    }

    .hero-svg .img-fluid {
        margin-left: 90px;

    }

    .sub-hero {
        margin-top: 8%;
        margin-bottom: 8%;
    }

    .sub-hero h1 {
        margin-bottom: 20px;
    }

    .sub-hero .number {
        font-size: 25;
        padding: 5px;
        padding-left: 15px;
        padding-right: 15px;
    }

    .sub-hero li {
        font-size: 15px;
    }

    .sub-hero .h1 {
        font-size: 25px;

    }

    .sub-hero p {
        font-size: 15px;
    }

}

@media (max-width: 767px) {
    .logo {
        width: 32px;
        height: 32px;
    }

    .logo-head {
        font-size: 17px;
    }

    .login .btn-primary {
        margin-top: 20px;
        font-size: 12px;
        margin-right: 10px;
    }

    .login .btn-sign-up {
        margin-top: 20px;
        font-size: 12px;
        margin-right: 10px;
    }

    .hero-text h1 {
        font-size: 40px;
    }

    .hero-text p {
        font-size: 14px;

    }

    .hero-text .btn.btn-hero {
        margin-top: 25px;
        font-size: 13px;

    }

    .sub-hero {
        margin-top: 8%;
        margin-bottom: 8%;
    }

    .sub-hero h1 {
        margin-bottom: 20px;
    }

    .sub-hero .number {
        font-size: 20;
        padding: 5px;
        padding-left: 15px;
        padding-right: 15px;
    }

    .sub-hero li {
        font-size: 14px;
    }

    .sub-hero .h1 {
        font-size: 20px;

    }

    .sub-hero p {
        font-size: 13px;
    }

    .register label {
        font-size: 14px;
    }

    .register input::placeholder {
        font-size: 13px;
    }

    .register .btn {
        font-size: 14px;
    }
}

@media (max-width: 575px) {
    .logo {
        width: 30px;
        height: 30px;
    }

    .logo-head {
        font-size: 16px;
    }

    .hero-text {
        margin-top: 20%;
        margin-left: 20px;
    }

    .hero-text h1 {
        font-size: 45px;
    }

    .hero-text p {
        font-size: 17px;

    }

    .hero-text .btn.btn-hero {
        margin-top: 20px;
        font-size: 15px;

    }

    .hero-svg .img-fluid {
        margin-left: 0px;
        margin-bottom: 50px;

    }

    .register {

        padding: 10px;
        border-radius: 10px;
    }

    .check_data {
        font-size: 11px;
    }


    .register label {
        font-size: 13px;
    }

    .register input::placeholder {
        font-size: 12px;
    }

    .register .btn {
        font-size: 13px;
    }
    .register select {
      
        font-size: 13px;
       
    }

}

@media (max-width: 375px) {


    .sub-hero .number {
        font-size: 18;
        padding: 5px;
        padding-left: 15px;
        padding-right: 15px;
    }

    .sub-hero li {
        font-size: 13px;
    }

    .sub-hero .h1 {
        font-size: 18px;

    }

    .sub-hero p {
        font-size: 13px;
    }
    .register select {
      
        font-size: 12px;
       
    }
}